<!--Demo Board - Visitor mode - Create new message -->
{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block content %}
<section class="section">
    <div class="container mt-5">
        <h2 class="text-center">Contact Us</h2><br />
        <form method="POST" action="{{ url_for('boardDemo_bp.demo_add_message') }}">
            {{ form.hidden_tag() }}  <!-- CSRF Token -->
            <div class="field">
                <label class="label">{{ form.name.label }}</label>
                <div class="control has-icons-left has-icons-right">
                    {{ form.name(class="input") }}
                </div>
                <div class="field">
                    <label class="label">{{ form.email.label }}</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.email(class="input") }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ form.message.label }}</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="message" {{ form.message(class="input") }}
                        </textarea>
                    </div>
                </div>
                <br />
                <div class="field">
                    <div class="control">
                        {{ form.submit(class="button is-link") }}
                    </div>
                </div>
                <a href="{{ url_for('boardDemo_bp.demo_show_message') }}">Power User</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
