{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
    <address>
        Chlau5206<br />
        Redmond Way<br />
        Redmond, WA 98052-5206<br />
        <abbr title="Phone">P:</abbr>
        (111)222-3333
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:SupportSE@chlau5206.com">Support@chlau5206.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@chlau5206.com">Marketing@chlau5206.com</a>
    </address>

{% endblock %}