<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/NotoSansFonts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block header %}{% endblock %}

</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('main.home') }}">
                <img src="{{ url_for('static', filename='img/AlohaFriday.jpg') }}" alt="Logo" class="logo">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="target">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="target" class="navbar-menu">
            <div class="navbar-start">
                <!--<a class="navbar-item" href="{{ url_for('main.home') }}">ChLau App</a>-->
                <a class="navbar-item" href="{{ url_for('main.exchangeRate') }}">Exchange Rate</a>
                <a class="navbar-item" href="{{ url_for('board_bp.general_add_message') }}">Contact Us</a>
                <a class="navbar-item" href="{{ url_for('main.about') }}">About</a>
                <a class="navbar-item" href="{{ url_for('members_bp.member') }}">Member</a>
            </div>
        </div>
    </nav>
    <br />
    <!-- Your content goes here -->
    {% block content %}

    {% endblock %}
    <br />
    <br />
    <footer>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Flash Messages (ended) -->

        <p>&copy; 2025 Chlau5206</p>

        <!-- Include the layout.js file -->
        <script src="{{ url_for('static', filename='js/layout.js') }}"></script>

        {% block footer %}

        {% endblock %}

    </footer>
    </div>
</body>
</html>
