<!--main / layout.html--> 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
        {{ title }} -
        {% endif %}
        ChLau App
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/NotoSansFonts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global_styles.css') }}">

    {% block header %}{% endblock %}

</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <!-- Navbar Brand (Logo and Burger) -->
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('main.home') }}">
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" class="logo">
                </a>
                <!-- Navbar Burger -->
                <a id="mainBurger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <!-- Navbar Menu -->
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <!-- Projects Dropdown -->
                    <div class="navbar-item has-dropdown">
                        <a class="navbar-link">Projects</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('exchange_rate_bp.project') }}">Exchange Rate</a>
                            <a class="navbar-item" href="{{ url_for('ePubConv_bp.project') }}">CHS -> CHT ePub converter</a>
                            <a class="navbar-item" href="{{ url_for('boardDemo_bp.project') }}">Demo Message board</a>
                        </div>
                    </div>

                    <!-- Main Menu Dropdown ended -->
                    <a class="navbar-item" href="{{ url_for('about2_bp.index') }}">About Me</a>
                    <a class="navbar-item" href="{{ url_for('board_bp.general_add_message') }}">Contact</a>

                    <!-- Member Menu (for authenticated users) -->
                    {% if current_user.is_authenticated %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <span class="icon-key">🔑</span>
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{{ url_for('members_bp.member') }}">Dashboard</a>
                                <a class="navbar-item" href="{{ url_for('auth_bp.display_user') }}">Membership</a>
                                <a class="navbar-item" href="{{ url_for('admin_board_bp.show_message') }}">Messages board</a>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        {% if current_user.is_authenticated %}
                            <!-- Logout button -->
                            <a href="{{ url_for('auth_bp.logout') }}" class="button is-warning">Logout</a>
                        {% else %}
                            <!-- Key icon for Member/Login -->
                            <a href="{{ url_for('members_bp.member') }}" class="navbar-item" title="Member Login">
                                <span class="icon-key">🔑</span>
                            </a>

                        <!-- <a href="{{ url_for('members_bp.member') }}" class="button is-primary is-outlined">Member</a> -->
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--Navbar Menu - End-->
        </div>
    </nav>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification is-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Your content goes here -->
    {% block content %}
    {% endblock %}
    <br />

    <footer class="footer custom-footer">
        <div class="content has-text-centered">
            <!-- CALL TO ACTION -->
            <div class="buttons is-centered">

                <a href="#projects" class="button is-primary is-light">
                    Projects
                </a>

                <a href="{{ url_for('about2_bp.index') }}" class="button is-primary is-light">
                    About Me
                </a>

                <a href="{{ url_for('board_bp.general_add_message') }}" class="button is-primary is-light">
                    Contact
                </a>

                <!-- GitHub button with icon -->
                <a href="https://github.com/CHLAU5206"
                class="button is-primary is-light"
                target="_blank"
                rel="noopener">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 .5C5.65.5.5 5.65.5 12c0 5.1 3.3 9.4 7.9 10.9.6.1.8-.3.8-.6v-2.1c-3.2.7-3.9-1.4-3.9-1.4-.5-1.2-1.2-1.5-1.2-1.5-1-.7.1-.7.1-.7 1.1.1 1.7 1.2 1.7 1.2 1 .1.6 2.2 2.9 2.2 1.4 0 2.3-.6 2.7-1.1-2.6-.3-5.3-1.3-5.3-5.8 0-1.3.5-2.4 1.2-3.3-.1-.3-.5-1.5.1-3.1 0 0 1-.3 3.3 1.2a11.3 11.3 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8.1 3.1.8.9 1.2 2 1.2 3.3 0 4.5-2.7 5.5-5.3 5.8.4.4.8 1.1.8 2.2v3.2c0 .3.2.7.8.6A10.9 10.9 0 0 0 23.5 12C23.5 5.65 18.35.5 12 .5z"/>
                        </svg>
                    </span>
                    <span>GitHub</span>
                </a>

                <!-- LinkedIn button with icon -->
                <a href="https://www.linkedin.com/in/charles-lau-4831594b"
                class="button is-primary is-light"
                target="_blank"
                rel="noopener">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 24 24" fill="currentColor">
                            <path d="M4.98 3.5C4.98 4.88 3.86 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1 4.98 2.12 4.98 3.5zM.5 8h4V24h-4V8zm7.5 0h3.8v2.2h.1c.5-1 1.8-2.2 3.8-2.2 4 0 4.7 2.6 4.7 6V24h-4v-7.5c0-1.8 0-4-2.5-4s-2.9 2-2.9 3.9V24h-4V8z"/>
                        </svg>
                    </span>
                    <span>LinkedIn</span>
                </a>

                <a  href="mailto:charles.hin.lau@gmail.com"
                    class="button is-primary is-light">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 24 24" fill="currentColor">
                            <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 
                                    2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 
                                    4-8 5-8-5V6l8 5 8-5v2z"/>
                        </svg>
                    </span>
                    <span>Email</span>
                </a>

            </div>

            <p class="footer-copy mt-3">
                © {{ current_year }} CHLAU5206 All rights reserved.
            </p>

        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    {% block scripts %}  {% endblock %}

</body>
</html>
