/* About2/About2 - resume font Definitions */

.collapsible-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chevron {
    transition: transform 0.25s ease;
}

.chevron.rotated {
    transform: rotate(180deg);
}