{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}
<section class="section">
    <div class="container mt-5">
        <h1 class="text-center">Contact Us</h1><br />
        <form method="POST" action="{{ url_for('board_bp.general_add_message') }}">
            {{ form.hidden_tag() }}  <!-- CSRF Token -->
            <div class="field">
                <label class="label">{{ form.name.label }}</label>
                <div class="control">
                    {{ form.name(class="input") }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.email.label }}</label>
                <div class="control">
                    {{ form.email(class="input") }}
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.message.label }}</label>
                <div class="control">
                    {{ form.message(class="input") }}
                </div>
            </div>
            <br />
            <div class="field">
                <div class="control">
                    {{ form.submit(class="button is-primary") }}
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
