{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}
<h1 class="text-center">Message board</h1>
<section class="section">
    <div class="container mt-5">
        <table class="table is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Date(UTC)</th>
                    <th>From</th>
                    <th>Message</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message.timestamp }}</td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.email }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('board_bp.delete_message', id=message.id) }}" style="display:inline;">
                            {{ form.hidden_tag() }}  <!-- Add CSRF token -->
                            <button type="submit" class="button is-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav class="pagination" role="navigation" aria-label="pagination">

            {% if prev_page %}
            <a class="pagination-previous" href="{{ url_for('board_bp.show_message', page=prev_page) }}">Previous</a>
            {% endif %}
            {% if next_page %}
            <a class="pagination-next" href="{{ url_for('board_bp.show_message', page=next_page) }}">Next</a>
            {% endif %}

        </nav>
    </div>
</section>

{% endblock %}