{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}
<h1 class="text-center">Message board</h1>
<section class="section">
    <div class="container mt-5">
        {%if messages %}
            <table class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Date(UTC)</th>
                        <th>From</th>
                        <th>Message</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.timestamp }}</td>
                        <td>{{ message.name }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ message.email }}</td>
                        <td>
                            <a href="{{ url_for('board_bp.reply_message', id=message.id) }}" class="button is-warning">Reply</a>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('board_bp.delete_message', id=message.id) }}" style="display:inline;">
                                {{ form.hidden_tag() }}  <!-- Add CSRF token -->
                                <button type="submit" class="button is-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No message in board
        {% endif %}

    </div>
</section>

{% endblock %}