{% extends "layout.html" %}

{% block header %}
<title>
    {%if title %}
    {{ title }}
    {% endif %}
    ChLau App
</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Contact Us</h1>
    <form method="POST" action="{{ url_for('board_bp.general_add_message') }}">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->
        <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.message.label(class="form-label") }}
            {{ form.message(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>
</div>

{% endblock %}
