{% extends "layout.html" %}

{% block title %}
Student-Admin
{% endblock %}

{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Membership</h1>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <!-- Link to Update Student -->
                    <a href="{{ url_for('auth_bp.update_user', id=user.id) }}" class="btn btn-warning">Update</a>

                    <!-- Form to Delete a Student -->
                    <form method="POST" action="{{ url_for('auth_bp.remove_user', id=user.id) }}" style="display:inline;">
                        {{ form.hidden_tag() }}  <!-- Add CSRF token -->
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Flash Messages (ended) -->
    <!-- Link to Add Student -->
    <a href="{{ url_for('auth_bp.create_user') }}" class="btn btn-primary">Add new member</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}