{% extends "layout.html" %}

{% block title %}
Memeber Login
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Member login</h2>
    <form method="POST" action="{{ url_for('auth_bp.login') }}">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

</div>

{% endblock %}
