{% extends "layout.html" %}

{% block header %}

<link rel="stylesheet" type="text/css" href="{{ url_for('about_bp.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <article class="content">

            <div class="level">
                <div class="level-left">
                    <div>
                        <h1 class="title">Professional Resume</h1>
                        <h2 class="subtitle is-6">Systems Quality & Lab Operations Specialist</h2>
                    </div>
                </div>

                <div class="level-right">
                    <div class="buttons">
                        <a href="{{ url_for('about_bp.static', filename='data/Current_Resume.pdf') }}"
                           class="button is-link" download>
                            <span class="icon"><i class="fas fa-download"></i></span>
                            <span>Download PDF</span>
                        </a>
                        <a href="https://github.com/chlau5206/ChlauApp"
                           target="_blank" class="button is-dark">
                            <span class="icon"><i class="fab fa-github"></i></span>
                            <span>Source Code</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="box p-0" style="overflow: hidden; border: 1px solid #dbdbdb;">
                <figure class="image" style="height: 1100px;">
                    <iframe src="{{ url_for('about_bp.static', filename='data/Current_Resume.pdf') }}#view=FitH"
                            width="100%"
                            height="100%"
                            style="border: none;">
                    </iframe>
                </figure>
            </div>

            <div class="has-text-centered mt-5">
                <div class="tags has-addons is-centered">
                    <span class="tag is-dark">Stack</span>
                    <span class="tag is-info">Python / Flask</span>
                    <span class="tag is-primary">Bulma CSS</span>
                    <span class="tag is-light">SQLite</span>
                </div>
            </div>

        </article>
    </div>
</section>
{% endblock %}
