h1 {
    color:green;
}

h2 {
    color:blueviolet;
}

message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, th, td {
    border: 1px, solid, black;
    border-collapse: collapse;
}

th,td {
    padding: 15px;
}

th {
    text-align: left;
}

tr:nth-last-child(2n+1){
    background-color: #D6EEEE;
}

footer {
    font-size: 9pt;
    font-style: italic;
    line-height: 12pt;
    color: Blue;
    text-align: center;
    padding-top: 30pt;
}
@media (min-width:500px) {
    body {
        background-color: rgb(78, 209, 148);
    }
}

@media (max-width:499px) {
    body {
        background-color: rgb(210, 210, 134);
    }
}