<!-- member.html -- new version -->
{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="body-content">
        {% if current_user.is_authenticated %}
            <h1>
                <span class="message">
                    <h2>Welcome to the members dashboard!</h2>
                    {%if name %}
                    {{ name }}
                    {% endif %}
                </span><br /><br />
            </h1>
            <nav>
                <ul>

                    <li><a href="{{ url_for('auth_bp.display_user') }}">Membership</a></li>
                    <li><a href="{{ url_for('board_bp.show_message') }}">Contact us messages</a></li>
                </ul>
            </nav>
            <br />
            <br />
            <h3>
                <a href="{{ url_for('auth_bp.logout') }}" class="button is-primary">Logout</a>
        {% else %}
            Unknow member.  Login please.<br />
            <a href="{{ url_for('auth_bp.login') }}" class="button is-warning">Login</a>
        {% endif %}
        </h3>
        <br />
        <br />
        <br />
        <h3>{{ date }}</h3>

    </div>
{% endblock %}