<!-- member.html -- new version -->
{% extends "layout.html" %}

{% block header %}
<title>
    {% if title %}
    {{ title }}
    {% endif %}
    ChLau App
</title>
{% endblock %}

{% block content %}
<article>

    {% if current_user.is_authenticated %}
    <div class="hero-body">
        <div>
            <h1>
                <span class="message">
                    Welcome to the members dashboard!<br />
                </span><br /><br />
            </h1>
        </div>

        <div>
            <ul>
                <li><a href="{{ url_for('auth_bp.display_user') }}">Membership</a></li>
                <li><a href="{{ url_for('board_bp.show_message') }}">Messages board</a></li>
            </ul>
        </div>
    </div>
    {% else %}
    <h2>
        Unknow member.  Login please.<br />
        <a href="{{ url_for('members_bp.member') }}" class="button is-warning">Member</a>
    </h2>
    {% endif %}
</article>
{% endblock %}