{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
Objective
<br />
=========
<br />
The goal of this project is to convert Simplified Chinese ePub files into Traditional Chinese ePub files. Simplified Chinese cannot be converted simply by changing the language code page, as the character sequences for Simplified and Traditional Chinese are fundamentally different. Another challenge is the ePub format itself; it is not like a plain text file, and therefore, strings cannot be converted one by one.
<br />
<br />
<br />
Approach (flow)
<br />
===============
<br />
Three steps are required to accomplish the goal:
<br />
1. Unpack the ePub file into a folder.
<br />
2. Convert the Simplified Chinese files to Traditional Chinese files.
<br />
3. Re-pack the files into an ePub format.
<br />
<br />
Dev spec
<br />
======
<br />
1. an ePub file is essentially a zip file with a specific structure.  We can simply unzip the ePub file into a temporary folder.  During this process, we need to check if any filenames contain Simplified Chinese characters, as this could cause issues when links point to those files, such as image files.  To resolve this, rename all filenames to English ASCII characters.  Although the program should handle filename conversion to Traditional Chinese, some unexpected situations might arise.
<br />
2. A simple method to convert Simplified Chinese to Traditional Chinese is by creating a one-to-one mapping of characters between the two sets.  These character sets can be found online.  The program should focus on converting only text files, such as .txt and .html files.
<br />
3. After the conversion is complete, re-pack the files into the ePub format.
<br />
Usage:<br />
======<br />
1. Obtain a text file (e.g., my_cookbook.txt).
<br />
2. Ensure the file is in UTF-8 encoding.  You can use Notepad++ to convert the text file to UTF-8 encoding.
<br />
3. Convert the text file to an ePub format.  It is recommended to use EasyEPub for this step.
<br />
4. Verify that the ePub file is correct, then open ePubConvertWin (no installation required).
<br />
5. Drag and drop the ePub file(s) into the app, and start the conversion process.
<br />
6. The Simplified Chinese characters should be converted to Traditional Chinese characters.
<br />

Notes:
<br />
======
1. This app was written by C#.
<br />
2. The input file must be in UTF-8 encoding.
<br />
<br />
Next steps:
<br />
<br />
1. In this program, two arrays are used to store the characters.  However, considering perfomance limitations, the characters can only be searched sequentially.  To improve efficiency, the implementation could be modified to use a hash table(dictionary) instead.
<br />
2. Character mapping may not always be accourate.  To address this, a submodule should be developed to allow updates to the character set.
<br />

Source code link:
<br />
<a href="{{ url_for('board_bp.general_add_message') }}">Contact me</a>
<br />
{% endblock %}
